body {
    width: 100%;
    height: 100%;
    background-color: #bcd0ffd3;
    margin: 0;
    padding: 0;
    font-family: monospace;
  }

.admin-total-container{
  width: 100%;
  height: 100%;
  padding: 0px;
}
  .index_span
  {
    width:75%;
    /* background: linear-gradient(-45deg, #ff6347, #ff1493); */
    height: auto;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    padding: 10px;
    flex-direction: row;
  }
  :root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
    }
    
    
    
    
    .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    }
    
    
    
    .box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 40px;
    }
    .box:hover {
    transform: scale(1.08);
    }
    
    .box:nth-child(1) {
    background-color: var(--one-use-color);
    }
    .box:nth-child(2) {
    background-color: var(--two-use-color);
    }
    .box:nth-child(3) {
    background-color: var(--one-use-color);
    }
    .box:nth-child(4) {
    background-color: var(--two-use-color);
    }
    
    .box img {
    height: 50px;
    }
    .box .text {
    color: white;
    }
    .topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    }
    
    .topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
    }
  .display-card {
    width: 170px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    position: relative;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
     
  }
  .card-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 60%;
    position: relative;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-family: monospace;
    margin-left: 375px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    animation: fadeInDownAdmin 1s ease-out forwards;
  }
  @keyframes fadeInDownAdmin {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .admincard_item {
    width: 400px;

    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
  }
  /* ... Other CSS styles ... */

  .admincard_item_link {
    display: block;
    height: 170px;
    padding:  20px;
    background-color: #e4e4e4;
    
    overflow: hidden;
    text-decoration: none;
    position: relative;
  }
  .admincard_item_link:hover,
  .admincard_item_link:hover {
    text-decoration: none;
    color: #fff;
  }
  .admincard_item_link:hover .admincard_item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .admincard_item_link:hover .admincard_item_bg1 {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .admincard_item_link:hover .admincard_item_bg2 {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .admincard_item_link:hover .admincard_item_bg3 {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .admincard_item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #000000;

    z-index: 2;
    position: relative;
    text-decoration: none;
  }
  .admincard_item_bg {
    height: 128px;
    width: 128px;
    background-color: #4c49ea;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .admincard_item_bg1 {
    height: 128px;
    width: 128px;
    background-color: #952aff;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .admincard_item_bg2 {
    height: 128px;
    width: 128px;
    background-color: #952aff;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .admincard_item_bg3 {
    height: 128px;
    width: 128px;
    background-color: #4c49ea;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
 