  .side_sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }

  .side_sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
  }

  .side_logo {
    font-size: 24px;
    font-weight: bold;
  }

  .side_nav-link {
    padding: 15px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
  }

  .side_nav-link i {
    min-width: 40px;
    text-align: center;
  }

  .side_nav-link .link-text {
    margin-left: 10px;
  }

  .side_nav-link:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #5500cb;
    color: rgb(255, 255, 255);
  }

  .content {
    left: 250px;
    padding: 20px;
    position: relative;
    max-width: fit-content;
  }